[user]
	name = Tyler Berry
	email = tyler@berryac.com
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	cob = checkout -b
	cp = cherry-pick
	root = "!pwd"

	absorb = "!git merge $1 && git branch -d $1"

	clean-ignored = clean -Xdf

	redo = commit --amend --no-edit

	rf = "!git checkout HEAD -- $1"

	last = log -1 --stat

	filelog = log -u
	fl = log -u

	find = "!git ls-files | grep -i"
	f = "!git ls-files | grep -i"

	grep = grep -Ii
	gr = grep -Ii
[url "git@github.com:"]
	insteadOf = https://github.com/
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
