[user]
	name = Tyler Berry
	email = tyler@berryac.com
[push]
	default = simple
[alias]
	cp = cherry-pick
	st = status -s
	cl = clone
	cm = commit
	cmm = commit -m
	cma = commit -a
	cmam = commit -a -m
	cmAm = "!git add -A && git commit -m"
	co = checkout
	cob = checkout -b
	br = branch
	diff = diff --word-diff
	dc = diff --cached

	absorb = "!git merge $1 && git branch -d $1"

	clean-ignored = clean -Xdf

	redo = commit --amend --no-edit

	r = reset
	r1 = reset HEAD^
	r2 = reset HEAD^^

	rf = "!git checkout HEAD -- $1"

	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	le = log --oneline --decorate

	filelog = log -u
	fl = log -u

	find = "!git ls-files | grep -i"
	f = "!git ls-files | grep -i"

	grep = grep -Ii
	gr = grep -Ii
